In [362]:
!pip install geopy
!pip install plotly

Requirement already satisfied: geopy in c:\users\andrews.alves\appdata\local\continuum\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\andrews.alves\appdata\local\continuum\anaconda3\lib\site-packages (from geopy) (1.50)

distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 20.3b1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: plotly in c:\users\andrews.alves\appdata\local\continuum\anaconda3\lib\site-packages (4.12.0)
Requirement already satisfied: six in c:\users\andrews.alves\appdata\local\continuum\anaconda3\lib\site-packages (from plotly) (1.11.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\andrews.alves\appdata\local\continuum\anaconda3\lib\site-packages (from plotly) (1.3.3)

distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 20.3b1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [363]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import locale
import geopy.distance 
import plotly.graph_objects as go

In [364]:
#Importing databases

df1 = pd.read_csv("C:/Users/andrews.alves/Desktop/TESTE MOB7/Data engineer/04 - Data engineer/Databases/posicoes.csv", sep = ",", encoding="ISO-8859-1")
df2 = pd.read_csv("C:/Users/andrews.alves/Desktop/TESTE MOB7/Data engineer/04 - Data engineer/Databases/base_pois_def.csv", sep = ",", encoding="ISO-8859-1")

In [365]:
#df1['data_posicao'] = pd.to_datetime(df1['data_posicao'], format='%d-%B-%Y ')

In [366]:
#Creating new column to storage car status: Moving or Stopped 
df1['Status'] = 'NaN'

In [367]:
for index, row in df1.iterrows():
    if row['velocidade'] <= 5 or row['ignicao'] == "False":
        df1.loc[index,'Status'] = "Stopped"  
    else: 
        df1.loc[index,'Status'] = "Moving"

In [368]:
df1["DataHora"] = df1["data_posicao"].str[3:]

In [370]:
df1['Date'] = ""
df1['Time'] = ""
df1['DataHora'] = pd.to_datetime(df1['DataHora'])

df1['Time'],df1['Date']= df1['Date'].apply(lambda x:x.time()), df1['Date'].apply(lambda x:x.date())

AttributeError: 'str' object has no attribute 'time'

In [354]:
df1.head(1)

,placa,data_posicao,velocidade,longitude,latitude,ignicao,Status,DataHora,StopHour,Data
0,TESTE001,Wed Dec 12 2018 00:04:03,0,-51.469891,-25.364914,False,Stopped,2018-12-12 00:04:03,2018-12-12 00:04:03,2018-12-12 00:04:03

In [276]:
df1['DataHora'] = pd.to_datetime(df1['DataHora'], infer_datetime_format=True)

In [277]:
df1.head()

,placa,data_posicao,velocidade,longitude,latitude,ignicao,Status,DataHora
0,TESTE001,Wed Dec 12 2018 00:04:03,0,-51.469891,-25.364914,False,Stopped,2018-12-12 00:04:03
1,TESTE001,Wed Dec 12 2018 00:34:06,0,-51.469910,-25.364917,False,Stopped,2018-12-12 00:34:06
2,TESTE001,Wed Dec 12 2018 01:04:09,0,-51.469959,-25.364955,False,Stopped,2018-12-12 01:04:09
3,TESTE001,Wed Dec 12 2018 01:34:12,0,-51.469887,-25.364914,False,Stopped,2018-12-12 01:34:12
4,TESTE001,Wed Dec 12 2018 02:04:15,0,-51.469922,-25.364885,False,Stopped,2018-12-12 02:04:15

In [278]:
#df1["DataHora"] = df1["DataHora"].strftime("%d/%m/%Y %H:%M:%S")

In [279]:
#set actual date
#data_atual = date.today()

In [280]:
#data_e_hora_atuais = datetime.now()
#data_e_hora_em_texto = data_e_hora_atuais.strftime("%d/%m/%Y %H:%M:%S")

In [281]:
#Adjusting actual date to BR format

#data_e_hora_em_texto = data_e_hora_atuais.strftime("%d/%m/%Y %H:%M:%S")
#print(data_e_hora_em_texto)

In [282]:
#Difference between two dates

#diferenca = timedelta()
#print(diferenca)

In [283]:
df2.head()

      nome  raio   latitude  longitude
0  PONTO 1   300 -25.567427 -51.476534
1  PONTO 2   300 -25.568056 -51.480278
2  PONTO 3   250 -25.414167 -51.566944
3  PONTO 4   250 -25.718611 -51.831111
4  PONTO 5   163 -25.372405 -51.497343

In [284]:
#Converting Raio meters on Raio Km

df2["raio_km"] = df2["raio"]/1000

In [285]:
df2.head()

      nome  raio   latitude  longitude  raio_km
0  PONTO 1   300 -25.567427 -51.476534    0.300
1  PONTO 2   300 -25.568056 -51.480278    0.300
2  PONTO 3   250 -25.414167 -51.566944    0.250
3  PONTO 4   250 -25.718611 -51.831111    0.250
4  PONTO 5   163 -25.372405 -51.497343    0.163

center_point = [{df1["latitude"].iloc,df1["longitude"].iloc}]
test_point = [{df2["latitude"].iloc,df2["longitude"].iloc}]

radius = 4000 # in kilometer

In [147]:
#center_point_t = (center_point[0].values()) # (-7.7940023, 110.3656535)
#test_point_t = (test_point[0].values()) # (-7.79457, 110.36563)

#dis = distance.distance(center_point, test_point).km
print("Distance: {}".format(dis)) # Distance: 0.0628380925748918

if dis <= radius:
    df1["Status_Radius"] = "Inside"
    #print("{} point is inside the {} km radius from {} coordinate".format(test_point_tuple, radius, center_point_tuple))
else:
    df1["Status_Radius"] = "Outside"
    #print("{} point is outside the {} km radius from {} coordinate".format(test_point_tuple, radius, center_point_tuple))

Distance: 11252.455732025132

In [286]:
df1.head()

,placa,data_posicao,velocidade,longitude,latitude,ignicao,Status,DataHora
0,TESTE001,Wed Dec 12 2018 00:04:03,0,-51.469891,-25.364914,False,Stopped,2018-12-12 00:04:03
1,TESTE001,Wed Dec 12 2018 00:34:06,0,-51.469910,-25.364917,False,Stopped,2018-12-12 00:34:06
2,TESTE001,Wed Dec 12 2018 01:04:09,0,-51.469959,-25.364955,False,Stopped,2018-12-12 01:04:09
3,TESTE001,Wed Dec 12 2018 01:34:12,0,-51.469887,-25.364914,False,Stopped,2018-12-12 01:34:12
4,TESTE001,Wed Dec 12 2018 02:04:15,0,-51.469922,-25.364885,False,Stopped,2018-12-12 02:04:15

In [260]:
#Total stopped hours - by car
df1["StopHour"] = ""

for index, row in df1.iterrows():
    if row["velocidade"] <= 5:
        df1["StopHour"] = df1["DataHora"]
        #df1.loc[index,'Status'] = df1["DataHora"]  
    else: 
        df1["StopHour"] == 0 
        #df1.loc[index,'Status'] = "Moving"

In [297]:
#new_results = {}
df1["StopHour"] = ""
for index, row in df1.iterrows():
    df1["StopHour"] = df1["DataHora"] if row["velocidade"] <= 5 else '0' 

#df1 = pd.DataFrame.from_dict(new_results, orient='index')

In [298]:
df1.head()

,placa,data_posicao,velocidade,longitude,latitude,ignicao,Status,DataHora,StopHour
0,TESTE001,Wed Dec 12 2018 00:04:03,0,-51.469891,-25.364914,False,Stopped,2018-12-12 00:04:03,2018-12-12 00:04:03
1,TESTE001,Wed Dec 12 2018 00:34:06,0,-51.469910,-25.364917,False,Stopped,2018-12-12 00:34:06,2018-12-12 00:34:06
2,TESTE001,Wed Dec 12 2018 01:04:09,0,-51.469959,-25.364955,False,Stopped,2018-12-12 01:04:09,2018-12-12 01:04:09
3,TESTE001,Wed Dec 12 2018 01:34:12,0,-51.469887,-25.364914,False,Stopped,2018-12-12 01:34:12,2018-12-12 01:34:12
4,TESTE001,Wed Dec 12 2018 02:04:15,0,-51.469922,-25.364885,False,Stopped,2018-12-12 02:04:15,2018-12-12 02:04:15

In [304]:
#Slicing only stopped cars
df3 = df1.loc[df1['Status'] == 'Stopped']

In [323]:
table = pd.pivot_table(df3, values='StopHour', index=['placa',''],
                    aggfunc=np.sum)

table = pd.pivot_table(df, values='D', index=['A', 'B'],
                    columns=['C'], aggfunc=np.sum)

In [332]:
table

Empty DataFrame
Columns: []
Index: [CAR0012, TESTE001]

fig.add_trace(go.Indicator(
    mode = "number+delta",
    value = df3["StopHour"],
    title = {"text": "Accounts<br><span style='font-size:0.8em;color:gray'>Subtitle</span><br><span style='font-size:0.8em;color:gray'>Subsubtitle</span>"},
    delta = {'reference': 400, 'relative': True},
    domain = {'x': [0.6, 1], 'y': [0, 1]}))

fig.show()

In [371]:
#output
df1.to_csv('C:/Users/andrews.alves/Desktop/TESTE_MOBI7.csv', header=True, index=False, sep=',')

s = pd.Series(['one string', 'another string', pd.Series([1, 2, 3])])

def converter(x):
    if isinstance(x, pd.Series):
        return tuple(x.values)
    else:
        return x

df1_tuple = df1.apply(converter).unique()
df2_tuple = df1.apply(converter).unique()

colunas = df1.columns.values
df1tupla = [tuple(x) for x in [df1[coluna].values for coluna in colunas]]

colunas2 = df2.columns.values
df2tupla = [tuple(x) for x in [df2[coluna].values for coluna in colunas2]]

center_point_tuple = tuple(center_point[0].values()) # (-7.7940023, 110.3656535)
test_point_tuple = tuple(test_point[0].values()) # (-7.79457, 110.36563)

dis = distance.distance(center_point_tuple, test_point_tuple).km
print("Distance: {}".format(dis)) # Distance: 0.0628380925748918

if dis <= radius:
    print("{} point is inside the {} km radius from {} coordinate".format(test_point_tuple, radius, center_point_tuple))
else:
    print("{} point is outside the {} km radius from {} coordinate".format(test_point_tuple, radius, center_point_tuple))